@media only screen and (max-width :480px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }

    /* WELCOME SECTION */
    .welcome-section {
        height: 70vh;
    } 

    /* SERVICES SECTION */
    .services-container {
        padding-top: 3rem;
    }

    /* WHAT WE DO SECTION */
    .work-subsection {
        display: flex;
        flex-direction: column;
    }

    /* CONTACT US SECTION */
    .contact-container  {
        padding-bottom: 3rem;
    }

    .form-container {
        padding: 0 2rem;
    }
    
}