@media only screen and (max-width :1024px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }

    /* WELCOME SECTION */
    .welcome-section {
        height: 70vh;
    } 

    /* SERVICES SECTION */
    .services-container {
        padding-top: 3rem;
        height: 75vh;
    }

    /* WHAT WE DO SECTION */
    .work-subsection {
        display: flex;
        flex-direction: column;
    }

    /* PORTFOLIO SECTION */
    .section1, .section2 {
        flex-direction: column;
        align-items: center;
    }

    /* CONTACT US SECTION */
    .contact-container  {
        padding-bottom: 3rem;
    }

    .form-container {
        padding: 0 2rem;
    }

    /* FOOTER SECTION */
    .icon {
        height: 1.8rem;
    }
}