
h4 {
    padding-bottom: 2rem;
}

h6 {
    font-size: small;
}
/* WELCOME SECTION */
.welcome-section {
    background: url("../images/backgrounds/welcome.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.header-section1 {
    text-align: center;
    color: white;
}

.header-section1 img {
    margin-bottom: 3rem;
}

.header-section2 img {
     margin-top: 5rem; 
}

/* ABOUT US SECTION */
.about-section {
    text-align: center;
    margin-bottom: 3rem;
}

/* SERVICES SECTION */
.services-container {
    background: url("../images/backgrounds/services.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 2.5rem;
    height: 50vh;
    padding-top: 7rem;
    color: white;
}

/* WHAT WE DO SECTION */
.work-section {
    padding-top: 3rem;
    text-align: center;
}

.img1:hover, .img2:hover, .img3:hover {
 cursor: pointer;
}

.work-subsection {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.description1, .description2, .description3 {
    display: none;
}
/* PORTFOLIO SECTION */
.portfolio-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
 .portfolio-image {
    height: 14rem;
    padding: 0 0.5rem 1.5rem 0;
} 
/* CONTACT US SECTION */
.contact-container {
    padding-top: 3rem;
    padding-bottom: 7rem;
    text-align: center;
    color: white;
    background: url("../images/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
}

.form-container {
    padding: 0 9rem;
}

.form-control {
    background: transparent;
}

::placeholder {
    color: white !important;
}

.btn {
    margin-top: 2rem;
    background: transparent;
    border: 1px solid white;
}

/* FOOTER SECTION */
.footer-container {
    padding-top: 2rem;
    text-align: center;
}

.icon {
    height: 2.3rem;
    padding-right: 0.5rem;
}

.icons-container {
    padding-bottom: 1rem;
}

