
/* WELCOME SECTION */
.welcome-section {
    background: url("../images/backgrounds/welcome.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.header-section1 {
    text-align: center;
    color: white;
}

.header-h1 {
    padding-top: 2rem;
}

/*.header-section2 {
     margin-top: 5rem; 
}*/

/* ABOUT US SECTION */
.about-section {
    text-align: center;
    margin-bottom: 3rem;
}

/* SERVICES SECTION */
.services-container {
    background: url("../images/backgrounds/services.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 2.5rem;
    height: 50vh;
    padding-top: 7rem;
    color: white;
}

/* WHAT WE DO SECTION */
.work-section {
    padding-top: 3rem;
    text-align: center;
}

.work-subsection {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
/* PORTFOLIO SECTION */
.portfolio-container {
    padding-top: 3rem;
    text-align: center;
}
 .portfolio-image {
    height: 14rem;
    padding: 0 0.5rem 1.5rem 0;
} 
/* CONTACT US SECTION */
/* FOOTER SECTION */

